.littlemargin {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    font-size: large;
    resize: none;
}

.quotetopmargin {
    margin-top: 350px;
}

.backgorundclass {
    background-color: grey;
    border-radius: 5px;
    border: 1px solid white;
    margin-bottom: 15px;
}


.marginformtop{
    margin-top: 5px;
}
