.littlemargin{
    margin-top: 20px;
}

.formelementmargin{
    margin-bottom: 10px;
}

.bigletter{
    font-size: medium;
}

.inputmargin{
    margin-top: 5px;
}

.textelementmargin{
    margin-bottom: 20px;
}
